<!DOCTYPE html>
{% load staticfiles %}


<html>
<head>
    <title> Crimes in Chicago </title>
    <link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <script type="text/javascript" href="{% static 'node_modules/d3/d3.js' %}"></script>
    <style type="text/css">

        body {
            font: 12px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .x.axis path {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .line {
            fill: none;
            stroke-width: 7px;
        }

        .country {
            opacity: 0.3;
        }

        .country:hover {
            opacity: 1;
        }

    </style>
</head>
<body>
<div>
    <input type="checkbox" id="domestic" onclick="domesticLight()">Domestic Violence Incidents</input>
    <input type="checkbox" id="nondomestic" onclick="nondomesticLight()">Non-DV Incidents</input>
</div>
<script>
    var margin = {top: 30, right: 20, bottom: 30, left: 50},
            width = 600 - margin.left - margin.right,
            height = 270 -margin.top - margin.right;

</script>

{% if years_for_data %}
    <b>Years Reported</b>
    <ul>
        {% for year in years_for_data %}
            <li><a href="{% url 'viewer:by_year' year %}">{{ year }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>There are no years of data available</p>
{% endif %}
</body>

</html>